<html layout:decorate="~{/layout.html}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div class="container-fluid " layout:fragment="corpo">
		<div class="col-sm-12 text-center">
			<h1>Clientes</h1>
		</div>
		<div class="row">
			<div class="col-md-2">
				<a href="#cadastro" data-toggle="collapse"><button
						class="btn btn-warning m-4">
						<i class="fa fa-edit"></i> Cadastrar
					</button></a>
			</div>
			<div class="col-md-2">
				<a href="#lista" data-toggle="collapse"><button
						class="btn btn-warning m-4">
						<i class="fa fa-edit"></i> Listar
					</button></a>
			</div>
			<div class="col-md-2">
				<a href="/"><button class="btn btn-warning m-4">
						<i class="far fa-arrow-alt-circle-left"></i> Voltar
					</button></a>
			</div>
		</div>


		<form action="/clientes/salvar" method="post" th:object="${cliente}" class="collapse"
			id="cadastro">
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
						<label>Nome:</label><input type="text" class="form-control"
							id="nome" name="nome" autocomplete="off">
					</div>
					<div class="col-md-3">
						<label>CPF:</label> <input type="text" class="form-control cpf"
							id="cpf" name="cpf" autocomplete="off">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</div>
		</form>

		<div class="row" id="lista">
			<div class="col-md-12">
				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>CPF</th>
							<th>Data cadastro</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente : ${clientes}">
							<td th:text="${cliente.id}"></td>
							<td th:text="${cliente.nome}"></td>
							<td th:text="${cliente.cpf}" class="cpf"></td>
							<td th:text="${cliente.data_cadastro} "></td>
							<td>
							<a th:href="@{/clientes/editar/{id} (id=${cliente.id}) }"><button class="btn btn-primary"><i class="fa fa-edit"></i></button></a>
							<a th:href="@{/clientes/excluir/{id} (id=${cliente.id}) }"><button	class="btn btn-danger"><i class="fa fa-trash"></i></button></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


	</div>
</body>
</html>