<html layout:decorate="~{/layout.html}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div class="container-fluid " id="bemvindo" layout:fragment="corpo">
		<div class="col-sm-12 text-center">
			<h1>Bem vindo</h1>
		</div>
		<div class="row-md-12 p-2 m-2">
			<div class="col-md-3 p-2">
				<a href="/clientes/listar"><button class="btn btn-primary">Clientes</button></a>
			</div>
			<div class="col-md-3 p-2">
				<a href="/colaborador/listar"><button class="btn btn-primary">Colaboradores</button></a>
			</div>
			<div class="col-md-3 p-2" >
				<a href="/fitas/listar"><button class="btn btn-primary">Fitas</button></a>
			</div>
			<div class="col-md-3  p-2">
				<a href="/locacao/listar"><button class="btn btn-success">Locação</button></a>
			</div>
		</div>
	</div>
</body>
</html>