<html layout:decorate="~{/layout.html}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div class="container-fluid " layout:fragment="corpo">
		<div class="col-sm-12 text-center">
			<h1>Edição de Colaborador</h1>
		</div>
		<a href="/colaborador/listar"><button class="btn btn-warning"><i class="far fa-arrow-alt-circle-left"></i> Voltar</button></a>
		<form action="/colaborador/editar" th:object="${colaborador}" method="post" id="edicao">
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
						<label class="cabecalho-label">id:</label><br> 
						 <input type="text" class="form-control" id="id"
							name="id" readonly th:value="${colaborador.id}" >
					</div>
					<div class="col-md-3">
						<label class="cabecalho-label">Nome:</label> <input type="text" class="form-control"
							id="nome" name="nome" th:value="${colaborador.nome}">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label class="cabecalho-label">Data Cadastro:</label> <input type="text"
							class="form-control" id="id" name="data_cadastro" readonly th:value="${colaborador.data_cadastro}">
					</div>
					<div class="col-md-3">
						<label class="cabecalho-label">CPF:</label> <input type="text" class="form-control cpf"
							id="cpf" name="cpf" th:value="${colaborador.cpf}">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</div>
		</form>
	</div>
</body>
</html>